.images {
    height: 65px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.my-carousel {
    min-width: 100%;
    object-fit: cover;
}

.carousel-item {
    width: 100%;
    height: 470px;
}

.carousel-item img {
    height: 470px;
    width: 100%;
}



.card {
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.9);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.9);
    display: flex;
   justify-content: space-between;
    
}

.Accommodation {
    background: white no-repeat center center;
    /* background: url("../../assets/18424307.jpg");*/
    min-height: 100%;
    background-size: cover;
    align-items: center;
    
}

.borderless td,
.borderless th {
    border: none;
}

.btn {
    text-align: center;
}

h1 {
    font-size: 20px;
    text-align: center;
    color: #009688;
}

.service {
    background: url("../../assets/Scones.jpg");
    min-height: 100%;
    background-size: cover;
}

.tranportation {
    background: url("../../assets/tucson.jpg") no-repeat;
    min-height: 100%;
    background-size: cover;
    object-fit: cover;
}

.service {
    position: relative;
    opacity: .75;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: fixed;
    background-position: center;
}
.Accommodation {
    position: relative;
    opacity: .75;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: fixed;
    background-position: center;
}

.btn {
    box-shadow: 0 20px 50px rgba(0, 0, 0, .2);
    background-color: #00695c;
    background-color: rgba(245, 245, 245, 0.4);
}

.btn:hover {
    box-shadow: 0 30px 70px rgba(0, 0, 0, .4);
}

.tranportation {
    position: relative;
    opacity: .75;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: fixed;
    background-position: center;
}

.sales {
    position: relative;
    opacity: .75;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: fixed;
    background-position: center;
}
.sales{
    min-height: 100%;
    background-size: cover;
}

.book {
    background: url("../../assets/books.jpg");
    min-height: 100%;
    background-size: cover;
    object-fit: cover;
}

.book {
    position: relative;
    opacity: .75;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: fixed;
    background-position: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color:#00695c;
}

.demopadding {
    margin: 50px auto;
    width: 140px;
    text-align: center;
    background-color: #263238;
}

.icon {
    position: relative;
    text-align: center;
    width: 0px;
    height: 0px;
    padding: 20px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -khtml-border-radius: 20px 20px 20px 20px;
    color: #263238;
}

.icon i {
    font-size: 20px;
    position: absolute;
    left: 9px;
    top: 10px;
}

.icon.social {
    float: left;
    margin: 0 5px 0 0;
    cursor: pointer;
    background: #6d6e71;
    color: #262626;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}

.icon.social:hover {
    background: #262626;
    color: #6d6e71;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, .8));
    -moz-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, .8));
    -ms-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, .8));
    -o-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, .8));
    filter: drop-shadow(0 1px 10px rgba(0, 0, 0, .8));
}

