<body>
    <app-navbar></app-navbar>
    <br>
    <br>
    <br>
    <br>
    <section>
        <div>
            <h1>Add Your Product Details Below</h1>
            <br>
            <form class="was-validated" #Productinfo="ngForm" enctype="multipart/form-data">

                <input type="hidden" name="ProductID" #ProductID="ngModel" [(ngModel)]="productmodel.ProductID">
                <input type="hidden" name="UserID" #UserID="ngModel" [(ngModel)]="productmodel.UserID">
                <div class="card">
                    <div class="card-body">
                        <div class="custom-file">
                            <img src="http://localhost:8080/{{productmodel.ProductImage}}" [src]="Imageurl" alt=" " class="rounded-circle" style="width:100px; height: 100px;">
                            <br>
                            <label>Choose Product Image</label>
                            <input type="file" #ProductImage accept="image/*" name="ProductImage" #ProductImage="ngModel" [(ngModel)]="productmodel.ProductImage" class="form-control-file" id="photo-id" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)"
                                required>
                        </div>
                        <br>
                        <br>
                        <div class="form-group">
                            <div class="form-group">
                                <label>Product name</label>
                                <input type="text" name="Productname" #Productname="ngModel" [(ngModel)]="productmodel.Productname" class="form-control" placeholder="Product name" required min="3" maxlength="80" style="widows: 290px;">

                            </div>

                            <div class="form-group">
                                <label>Category name</label>
                                <input type="text" name="Categoryname" #Categoryname="ngModel" [(ngModel)]="productmodel.Categoryname" class="form-control" placeholder="Category name" required min="3" maxlength="15" style="widows: 390px;">
                            </div>
                            <div class="form-group">
                                <label>Number of Item</label>
                                <input type="number" name="NumberofItem" #NumberofItem="ngModel" [(ngModel)]="productmodel.NumberofItem" class="form-control" placeholder="Number of Item" required min="1" maxlength="80" style="widows: 390px;">
                            </div>
                            <div class="form-group">
                                <label>New or Used</label>
                                <select class="custom-select mr-sm-2" id="Neworused" name="NeworUsed" #NeworUsed="ngModel" [(ngModel)]="productmodel.NeworUsed" class="form-control" placeholder="NeworUsed" style="widows: 390px;left: 0;" required>
                         <!--    <option selected>New/Used</option> -->
                                 <option value="New">New</option>
                                 <option value="Used">Used</option>
                                 </select>
                            </div>
                            <div class="form-group">
                                <label>Product Price</label>
                                <input type="number" name="ProductPrice" #ProductPrice="ngModel" [(ngModel)]="productmodel.ProductPrice" class="form-control" placeholder="Product Price" required min="1" maxlength="15" style="widows: 390px;">
                            </div>
                            <div class="form-group">
                                <label>Add any Description about your product</label>
                                <textarea type="text" name="Comment" #Comment="ngModel" [(ngModel)]="productmodel.Comment" class="form-control" placeholder="Write message" style="widows: 390px;"></textarea>
                            </div>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col md">
                                <button type="submit" [disabled]="!Productinfo.valid" class="btn btn-outline-success" (click)="onSubmit(Productinfo)">Add your product information</button>
                            </div>
                            <div class="col">
                                <button type="submit" [disabled]="!Productinfo.valid" class="btn btn-outline-info" (click)="UpdateProduct(Productinfo)">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <br>
        <br>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Product name</th>
                    <th scope="col">Category name</th>
                    <th scope="col">Number of Item</th>
                    <th scope="col">New or Used</th>
                    <th scope="col">Product Price</th>
                    <th scope="col">Product Image</th>
                    <th scope="col">Comment</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let productmodel of productlist">
                    <td>{{productmodel.ProductID}}</td>
                    <td>{{productmodel.Productname}}</td>
                    <td>{{productmodel.Categoryname}}</td>
                    <td>{{productmodel.NumberofItem}}</td>
                    <td>{{productmodel.NeworUsed}}</td>
                    <td>{{productmodel.ProductPrice}}</td>
                    <td>
                        <img src="http://localhost:8080/{{productmodel.ProductImage}}" alt="" class="rounded-circle" style="width:50px; height: 50px;"></td>
                    <td>{{productmodel.Comment}}</td>
                    <td>
                        <a class="fg" (click)="showForEdit(productmodel)">
                            <i class="far fa-edit"></i>
                        </a>
                    </td>
                    <td>
                        <a class="fg" (click)="onDelete(productmodel.ProductID)">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</body>