<body>
   <app-navbar></app-navbar>
    <br>
    <br>
    <br>
    <section>
        <div>
            <h1>Add Your Skills and Talent Details Below</h1>
            <br>
            <form #skillsandtaleninfo="ngForm" enctype="multipart/form-data">

                <input type="hidden" name="skillandtalentID" #skillandtalentID="ngModel" [(ngModel)]="talentandskillmodel.skillandtalentID">
                <input type="hidden" name="UserID" #UserID="ngModel" [(ngModel)]="talentandskillmodel.UserID">
                <div class="card">
                    <div class="card-body">
                        <div class="custom-file">
                            <img src="http://localhost:8080/{{talentandskillmodel.Image}}" [src]="Imageurl" alt=" " class="rounded-circle" style="width:100px; height: 100px;">
                            <br>
                            <label>Choose Your Image</label>
                            <input type="file"  accept="image/*" name="Image" #Image="ngModel" [(ngModel)]="talentandskillmodel.Image" class="form-control-file" id="photo-id" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="custom-file">
                            <label>Upload Your Video</label>
                            <input type="file"  accept="video/*" name="Video" #Video="ngModel" [(ngModel)]="talentandskillmodel.Video" class="form-control-file" id="Video" (change)="createFormData($event)" (change)="handleFileInputVideo($event.target.files)">
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="custom-file">

                            <label>Upload Your Song</label>
                            <input type="file" accept="audio/*" name="Song" #Song="ngModel" [(ngModel)]="talentandskillmodel.Song" class="form-control-file" id="song-Id" (change)="createFormData($event)" (change)="handleFileInputMP3($event.target.files)">
                        </div>
                        <br>
                        <br>
                        <div class="form-group">
                            <div class="form-group">
                                <label>Enter Type Of skiils or Talent that you have</label>
                                <input type="text" name="TypeofskillORtalent" #TypeofskillORtalent="ngModel" [(ngModel)]="talentandskillmodel.TypeofskillORtalent" class="form-control" placeholder="Enter Your Skiils/Talent" required min="3" maxlength="80"
                                    style="widows: 290px;">

                            </div>
                            <div class="form-group">
                                <label>Add any Comment Based on your skills or talent</label>
                                <textarea type="text" name="Comment" #Comment="ngModel" [(ngModel)]="talentandskillmodel.Comment" class="form-control" placeholder="Write message" style="widows: 390px;"></textarea>
                            </div>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col md">
                                <button type="submit" [disabled]="!skillsandtaleninfo.valid" class="btn btn-outline-success" (click)="onSubmit(skillsandtaleninfo)">Add Service information</button>
                            </div>
                            <div class="col">
                                <button type="submit" [disabled]="!skillsandtaleninfo.valid" class="btn btn-outline-info" (click)="UpdateSkillsandTalent(skillsandtaleninfo)">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <br>
        <br>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Type of skill OR talente</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Image</th>
                    <th scope="col">Video</th>
                    <th scope="col">Song</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let talentandskillmodel of talentandskillmodelList">
                    <td>{{talentandskillmodel.skillandtalentID}}</td>
                    <td>{{talentandskillmodel.TypeofskillORtalent}}</td>
                    <td>{{talentandskillmodel.Comment}}</td>
                    <td> <img src="http://localhost:8080/{{talentandskillmodel.Image}}" alt=" " class="rounded-circle" style="width:50px;height:50px;"></td>
                    <td> <video controls>
                        <source type="video/webm" src="http://localhost:8080/{{talentandskillmodel.Video}}" style="width:30px;height:30px;" >
                            <source type="video/mp4" src="http://localhost:8080/{{talentandskillmodel.Video}}" style="width:30px;height:30px;">
                    </video>
                    </td>
                    <td>
                        <audio src="http://localhost:8080/{{talentandskillmodel.Song}}" style="width:30px; height: 30px;"></audio>
                    </td>
                    <td>
                        <a class="fg" (click)="showForEdit(talentandskillmodel)">
                            <i class="far fa-edit"></i>
                        </a>
                    </td>
                    <td>
                        <a class="fg" (click)="onDelete(talentandskillmodel.skillandtalentID)">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

</body>
