<body>
    <app-navbar></app-navbar>
    <br>
    <br>
    <br>
    <br>
    <section>
        <div>
            <h1>Add Your Book Details Below</h1>
            <br>
            <form #Bookingsinfo="ngForm" enctype="multipart/form-data">

                <input type="hidden" name="BookID" #BookID="ngModel" [(ngModel)]="bookmodel.BookID">
                <input type="hidden" name="UserID" #UserID="ngModel" [(ngModel)]="bookmodel.UserID">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <img src="http://localhost:8080/{{bookmodel.Image}}" [src]="Imageurl" alt=" " class="rounded-circle" style="width:100px; height: 100px;">
                            <input type="file" #Image accept="image/*" name="Image" #Image="ngModel" [(ngModel)]="bookmodel.Image" class="form-control-file" id="photo-id" (change)="handleFileInput($event.target.files)" (change)="createFormData($event)">
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label>Book name</label>
                                <input type="text" name="BookName" #BookName="ngModel" [(ngModel)]="bookmodel.BookName" class="form-control" placeholder="Book Name" required min="3" maxlength="80" style="widows: 290px;">

                            </div>

                            <div class="form-group">
                                <label>Edition</label>
                                <input type="text" name="Edition" #Edition="ngModel" [(ngModel)]="bookmodel.Edition" class="form-control" placeholder="Edition" required min="3" maxlength="15" style="widows: 390px;">
                            </div>
                            <div class="form-group">
                                <label>Course</label>
                                <input type="text" name="Course" #Course="ngModel" [(ngModel)]="bookmodel.Course" class="form-control" placeholder="Course" required min="3" maxlength="80" style="widows: 390px;">
                            </div>
                            <div class="form-group">
                                <label>New/Used</label>
                                <select id="neworused" name="neworused" #neworused="ngModel" [(ngModel)]="bookmodel.neworused" class="form-control" placeholder="neworused" style="widows: 390px;left: 0;" required>
                    <!-- <option selected>New/Used</option> -->
                    <option value="New">New</option>
                    <option value="Used">Used</option>
                  </select>
                            </div>
                            <div class="form-group">
                                <label>Book Price</label>
                                <input type="text" name="Price" #Price="ngModel" [(ngModel)]="bookmodel.Price" class="form-control" placeholder="Book Price" required min="3" maxlength="15" style="widows: 390px;">
                            </div>
                            <div class="form-group">
                                <label>Add any Description about the book</label>
                                <textarea type="text" name="Comment" #Comment="ngModel" [(ngModel)]="bookmodel.Comment" class="form-control" placeholder="Write Message" style="widows: 390px; "></textarea>
                            </div>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col md">
                                <button type="submit" [disabled]="!Bookingsinfo.valid" class="btn btn-outline-success" (click)="onSubmit(Bookingsinfo)">Add Book information</button>
                            </div>
                            <div class="col">
                                <button type="submit" [disabled]="!Bookingsinfo.valid" class="btn btn-outline-info" (click)="UpdateBooking(Bookingsinfo)">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <br>
        <br>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Book Name</th>
                    <th scope="col">Edition</th>
                    <th scope="col">Course</th>
                    <th scope="col">New or Used</th>
                    <th scope="col">Book price</th>
                    <th scope="col">Image</th>
                    <th scope="col">Comment</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bookmodel of bookmodelArray">
                    <td>{{bookmodel.BookID}}</td>
                    <td>{{bookmodel.BookName}}</td>
                    <td>{{bookmodel.Edition}}</td>
                    <td>{{bookmodel.Course}}</td>
                    <td>{{bookmodel.neworused}}</td>
                    <td>{{bookmodel.Price}}</td>
                    <td> <img src="http://localhost:8080/{{bookmodel.Image}}" alt=" " class="rounded-circle" style="width:50px; height: 50px;"></td>
                    <td>{{bookmodel.Comment}}</td>
                    <td>
                        <a class="fg" (click)="showForEdit(bookmodel)">
                            <i class="far fa-edit"></i>
                        </a>
                    </td>
                    <td>
                        <a class="fg" (click)="onDelete(bookmodel.BookID)">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</body>