<body>
    <app-navbar></app-navbar>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="flex" *ngFor="let servicemodel of servicelist">
        <div class="card" style="width: 60rem;">
            <img class="card-img-top" src="http://localhost:8080/{{servicemodel.ServiceImage}}" alt="Card image cap" style="height:350px;">
            <div class="card-body">
                <h4 class="card-title" style="text-align : center; font-weight: bold;font-size: 18px;">Type of Service:{{servicemodel.Typeofservice}}</h4>
                <p class="card-text">{{servicemodel.Comment}}</p>
                <p><i class="fa fa-money" aria-hidden="true"></i>R{{servicemodel.Serviceprice}}</p>
                <!-- <p><i class="fas fa-map-marker"></i> </p> -->
                <div class="card-footer text-muted">
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-primary" class="btn btn-outline-info" (click)="onSubmitlikes(servicemodel)"><i class="far fa-thumbs-up"></i> 12 Likes</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModalCenter" id="show" (click)="onClick($event, servicemodel.ServiceID)"><i class="fas fa-comments"></i> Comments</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary" class="btn btn-outline-info"><i class="fas fa-share-alt-square"></i> Share</button>
                        </div>
                    </div>
                </div>
                <!-- <button class="btn btn-primary ">Go somewhere</button> -->
            </div>
        </div>
        <br>
    </div>


    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Comments</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">

                    <input type="text" name="Comments" class="form-control" placeholder="Comment" id="Comments" required>
                    <button type="button" class="btn btn-outline-info" (click)="onSubmit()"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>

                </div>

            </div>
        </div>
    </div>
</body>