<body>
    <app-navbar></app-navbar>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <section>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Profile</h5>
                <p class="card-text">Update Your Profile </p>
                <form #userRegistrationForm="ngForm" (ngSubmit)="onSubmit(userRegistrationForm)" enctype="multipart/form-data">
                    <div class="form-row">
                        <input type="hidden" name="UserID" #UserID="ngModel" [(ngModel)]="usercliams.UserID">
                        <div class="form-group">
                            <div class="col">
                                <!-- <label for="exampleFormControlFile1">Choose Image</label> -->
                                <img src="http://localhost:8080/{{usercliams.Image}}" [src]="Imageurl" alt="" class="rounded-circle" style="width:150px; height: 150px; display: block;
                                margin-left: auto;
                                margin-right: auto;">
                                <input type="file" #Image accept="image/*" name="Image" #Image="ngModel" [(ngModel)]="usercliams.Image" class="form-control-file" id="photo-id" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <input type="text" name="Name" #Name="ngModel" [(ngModel)]="usercliams.Name" class="form-control" placeholder="Name" required min="3" maxlength="15" style="widows: 290px;">

                        </div>
                        <div class="form-group col">
                            <input type="text" name="Surname" #Surname="ngModel" [(ngModel)]="usercliams.Surname" class="form-control" placeholder="Surname" required min="3" maxlength="15" style="widows: 390px;">
                        </div>
                    </div>

                    <br>
                    <div class="form-row">
                        <div class="form-group col">
                            <input type="number" name="StudentNumber" #StudentNumber="ngModel" [(ngModel)]="usercliams.StudentNumber" class="form-control" placeholder="Student Number" required>
                        </div>
                        <div class="form-group col">
                            <select id="inputState" name="Institution" #Institution="ngModel" [(ngModel)]="usercliams.Institution" class="form-control" placeholder="Institution">
                            <option selected>Institution</option>
                            <option value="University of Cape Town">University of Cape Town</option>
                            <option value="University of Fort Hare">University of Fort Hare</option>
                            <option value="University of the Free State">University of the Free State</option>
                            <option value="University of KwaZulu-Natal">University of KwaZulu-Natal</option>
                            <option value="University of Limpopo">University of Limpopo</option>
                            <option value="North-West University">North-West University</option>
                            <option value="University of Pretoria">University of Pretoria</option>
                            <option value="Rhodes University">Rhodes University</option>
                            <option value="Sefako Makgatho University">Sefako Makgatho University</option>
                            <option value="University of Stellenbosch">University of Stellenbosch</option>
                            <option value="University of the Western Cape">University of the Western Cape</option>
                            <option value="University of the Witwatersrand">University of the Witwatersrand</option>
                          </select>
                        </div>
                    </div>
                    <br>
                    <div class="form-row">
                        <div class="form-group col">
                            <input type="email" name="Email" #Email="ngModel" [(ngModel)]="usercliams.Email" class="form-control" [pattern]="emailPattern" placeholder="Email" (ngModelChange)="onChange($event)">
                        </div>
                        <div class="col">
                            <input type="password" name="Password" #Password="ngModel" [(ngModel)]="usercliams.Password" class="form-control" placeholder="Password" required min="3">
                        </div>

                    </div>
                    <br>
                    <div class="form-row">
                        <div class="form-group col">
                            <input type="text" name="MobileNumber" #MobileNumber="ngModel" [(ngModel)]="usercliams.MobileNumber" class="form-control" placeholder="Mobile Number" required min="3" maxlength="10">
                        </div>


                        <div class="form-group col">
                            <select id="Gender" name="Gender" #Gender="ngModel" [(ngModel)]="usercliams.Gender" class="form-control" placeholder="Gender" style="width: 100%">
                            <option selected>Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                          </select>
                        </div>
                    </div>
                    <br>
                    <!-- <div *ngFor="let user of userlist">
                        <input type="text" name="name" class="form-control" placeholder="Gender">
                    </div> -->
                    <br>
                    <button type="submit" [disabled]="!userRegistrationForm.valid && !validEmail" class="btn btn-primary"><i class="far fa-edit"></i>
                         Update Profile</button>
                    <br>
                    <br>
                </form>

            </div>
        </div>
    </section>

</body>