<body>
   <app-navbar></app-navbar>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="flex" *ngFor="let accomodationmodel of accomodationArray">
        <div class="card" style="width: 60rem;">
            <!-- <div class="card-header">
                <div class="row">
                    <div class="col">
                        <img src="http://localhost:8080/{{accomodationmodel.Image}}" alt="Card image cap" class="rounded-circle" style="height:80px;">
                    </div>
                    <h1 class="para">{{accomodationmodel.Name}} {{accomodationmodel.Surname}}</h1>
                </div>
            </div> -->
            <img class="card-img-top" src="http://localhost:8080/{{accomodationmodel.MainImage}}" alt="Card image cap" style="height:350px;">
            <div class="card-body">
                <h4 class="card-title" style="text-align : center; font-weight: bold;font-size: 18px; ">{{accomodationmodel.TypeOfAccommodation}}</h4>
                <p class="card-text">{{accomodationmodel.Comment}}</p>
                <div class="row">
                    <div class="col-md-4">
                        <p><i class="fas fa-bed"> {{accomodationmodel.NumberofRooms}}</i> </p>
                        <p class="deva" id="ids5">{{getarrivalid()}}</p>
                    </div>
                    <div class="col-md-4">
                        <p><i class="fas fa-map-marker-alt">{{accomodationmodel.DistancetoCampus}}</i></p>
                    </div>
                    <div class="col-md-4">
                        <p><i class="fa fa-money" aria-hidden="true"></i>R{{accomodationmodel.Price}} {{commentaccommodationservice.commentAccommodationModelCountlist}} </p>
                    </div>
                </div>
                <p><i class="fas fa-map-marker"></i> {{accomodationmodel.Address}} {{accomodationmodel.Suburb}} {{accomodationmodel.City}} {{accomodationmodel.Province}} {{accomodationmodel.Country}} {{accomodationmodel.PostalCode}} </p>
                <div class="card-footer text-muted">
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-primary" class="btn btn-outline-info" (click)="onSubmitlikes(accomodationmodel)"><i class="far fa-thumbs-up"></i> 12 Likes</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModalCenter" id="show" (click)="onClick($event, accomodationmodel.AccommodationID)"><i class="fas fa-comments"></i> Comments</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary" class="btn btn-outline-info"><i class="fas fa-share-alt-square"></i> Share</button>
                        </div>
                    </div>
                </div>
                <!-- <button class="btn btn-primary ">Go somewhere</button> -->
            </div>

        </div>
        <br>
    </div>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered " role="document ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Comments</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">

                    <input type="text" name="Comments" class="form-control" placeholder="Comment" id="Comments" required>
                    <button type="button" class="btn btn-outline-info" (click)="onSubmit()"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>

                </div>

            </div>
        </div>
    </div>

    <form #Accommodationinfo="ngForm" enctype="multipart/form-data">
        <input type="hidden" name="AccommodationID" #AccommodationID="ngModel" [(ngModel)]="accomodationmodel.AccommodationID">
    </form>
</body>