<body>
    <app-navbar></app-navbar>

    <br>
    <br>
    <br>
    <section>
        <div>
            <h1>Add Your Service Details Below</h1>
            <br>
            <form #Serviceinfo="ngForm" enctype="multipart/form-data">

                <input type="hidden" name="ServiceID" #ServiceID="ngModel" [(ngModel)]="servicemodel.ServiceID">
                <input type="hidden" name="UserID" #UserID="ngModel" [(ngModel)]="servicemodel.UserID">
                <div class="card">
                    <div class="card-body">
                        <div class="custom-file">
                            <img src="http://localhost:8080/{{servicemodel.ServiceImage}}" [src]="imageUrl" alt=" " class="rounded-circle" style="width:100px; height: 100px;">
                            <br>
                            <label>Choose Service Image</label>
                            <input type="file"  accept="image/*" name="ServiceImage" #ServiceImage="ngModel" [(ngModel)]="servicemodel.ServiceImage" class="form-control-file" id="photo-id" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)"
                                required>
                        </div>
                        <br>
                        <br>
                        <div class="form-group">
                            <div class="form-group">
                                <label>Type Of Service</label>
                                <input type="text" name="Typeofservice" #Typeofservice="ngModel" [(ngModel)]="servicemodel.Typeofservice" class="form-control" placeholder="Service name" required min="3" maxlength="80" style="widows: 290px;">

                            </div>
                            <div class="form-group">
                                <label>Service Price</label>
                                <input type="number" name="Serviceprice" #Serviceprice="ngModel" [(ngModel)]="servicemodel.Serviceprice" class="form-control" placeholder="Product Price" required min="1" maxlength="15" style="widows: 390px;">
                            </div>
                            <div class="form-group">
                                <label>Add any Description about your Service</label>
                                <textarea type="text" name="Comment" #Comment="ngModel" [(ngModel)]="servicemodel.Comment" class="form-control" placeholder="Write message" style="widows: 390px;"></textarea>
                            </div>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col md">
                                <button type="submit" [disabled]="!Serviceinfo.valid " class="btn btn-outline-success" (click)="onSubmit(Serviceinfo)">Add Service information</button>
                            </div>
                            <div class="col">
                                <button type="submit" [disabled]="!Serviceinfo.valid" class="btn btn-outline-info" (click)="UpdateService(Serviceinfo)">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <br>
        <br>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Type of service</th>
                    <th scope="col">Service Price</th>
                    <th scope="col">Image</th>
                    <th scope="col">Comment</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let servicemodel of servicelist">
                    <td>{{servicemodel.ServiceID}}</td>
                    <td>{{servicemodel.Typeofservice}}</td>
                    <td>{{servicemodel.Serviceprice}}</td>
                    <td> <img src="http://localhost:8080/{{servicemodel.ServiceImage}}" alt=" " class="rounded-circle" style="width:50px; height: 50px;"></td>
                    <td>{{servicemodel.Comment}}</td>
                    <td>
                        <a class="fg" (click)="showForEdit(servicemodel)">
                            <i class="far fa-edit"></i>
                        </a>
                    </td>
                    <td>
                        <a class="fg" (click)="onDelete(servicemodel.ServiceID)">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</body>
