

.images {
    height: 70px;
    top: 0;
    left: 0;
}

span {
    color: #37474f;
}



.btn {
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.9);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.9);
    width: 100%;
    color: black;
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: #37474f;
    font-size: 18px;
    text-align: center;
}

.card {
    background: transparent;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .4);
    border-radius: 10px;
    transition: 0.5s;
    align-content: center;
    /* width: 590px; */
    border-color: transparent;
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    margin-bottom: 10px;
}

.card:hover {
    box-shadow: 0 30px 70px rgba(0, 0, 0, .5);
}